[submodule "AK"]
	path = AK
	url = https://github.com/AngyOS/AK
[submodule "Base"]
	path = Base
	url = https://github.com/AngyOS/base
[submodule "Userland/Applications/FileManager"]
	path = Userland/Applications/FileManager
	url = https://github.com/AngyOS/file-manager
[submodule "Kernel"]
	path = Kernel
	url = https://github.com/AngyOS/kernel
